---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Lifecycle from "../components/Lifecycle";
import Planner from "../components/Planner";
import Almanac from "../components/Almanac";
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar />
		<Lifecycle />
		<Planner />
		<Almanac />
	</main>
</Layout>
